{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5 text-center">
        Bienvenue
    </h1>
    <h1 class="mt-5 text-center">
        <a href="{{ path('app_contactform_new') }}" style="color: #059669">
            Lien vers le formulaire de contact
        </a>
    </h1>
</div>
{% endblock %}
